nav{
    background-color:coral;
    padding: 10px;
}

nav a {
    color:white;
    padding: 10px;
    display: block;
}

h1{
    color:coral
}

main img{
    width: 200px;
    height: auto;
    border: 1px solid coral;
    padding: 2px;
    box-shadow: 0 0 30px 
}
p {

    padding: 4em;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(245, 169, 169, 0.861);
    padding: 2em;
    background-color: #feabab
}

aside img {
    width: 400px;
    height: auto;
    border: 1px solid coral;
    padding: 4em;
    box-shadow: 0 0 30px 
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align:center;
}